<div class="h-screen flex flex-col items-stretch">
  <header class="p-6">
    <h1 class="text-4xl font-bold">AI Agent</h1>
  </header>
  <main class="flex-1 bg-gray-50 p-6 overflow-y-auto" id="messages">
  </main>
  <footer class="p-6">
    <%= render partial: "agents/form", locals: { task: @task } %>
  </footer>
</div>
